#shop-pagination{
    width:100%;
    height:80px;

    float:left;
    text-align: center;
    margin-top:50px;

}
#shp{
    display:inline-block;
    cursor: pointer;
    text-align: center;
    padding-top:7px;
    margin-left:40px;
    box-sizing: border-box;
    margin-top: 15px;
}
